.register {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background-color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    padding: 4rem;
    border-radius: 3%;
    margin-top: 35vh;
    transform: translateY(-50%);


    h2 {
      color: rgb(72, 72, 72);
      margin-bottom: 2rem;
    }

    hr {
      margin-bottom: 2rem;
      color: rgb(144, 144, 144);
    }

    a {
      color: rgb(67, 67, 67);
      font-size: 1.5rem;
    }
    .username {
      margin-bottom: 2rem;
    }
    input {
      display: block;
      width: 35rem;
      height: 3.5rem;
      margin-bottom: 2rem;
      padding-left: 1rem;
      border: solid 1px rgb(144, 144, 144);
    }

    button {
      width: 100%;
      margin-bottom: 2rem;
      height: 4rem;
    }

      .message {
        color: #C93434;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
  }
}